<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="APITests">
        <classes>
            <class name="org.ccg.test.json.JsonAssertTest"/>
            <!-- 可以在这里添加其他测试类 -->
            <!-- <class name="AnotherTestClass"/> -->
        </classes>
    </test>
</suite>
